.card {
    width: 75%;
    background:  #735bf2;
    color: #fff;
    border-radius: 1rem;
    margin-bottom: 2rem;
}


.card .box {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;

}

.card strong {
    font-size: 1.7rem;
}

.card small {
    font-size: 1.7rem;
    letter-spacing: .1rem;
}
